* {
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial, Helvetica, ;
}
/*Navegação*/
header{
    display: flex;
    justify-content: center;
    height: 60px;
    background-color:#fff;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 960px;      
}
.logo{
    display: flex;
    align-items: center;      
}
.logo a img {
    width:200px;
    height:auto;
}
.menu{
    display: flex;
    align-items: center;
}
nav ul,
nav li{
    list-style: none;
    margin:0;
    padding:0;
}
nav ul{
    display: flex;
}
nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    margin-left: 21px;
    border-radius: 24px;
    
}
nav a:hover{
    color:#fff;
    background-color:#F8941D;  
}
/*Section Banner*/
#banner{
    display:flex;
    justify-content: center;
    background-image: url('./images/banner5.jpg');
    background-position: center;
    background-size: cover;
    height: 420px;
}
.column{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.titulo-banner{
    font-size: 30px;
    font-family: sans-serif, Arial, Helvetica, ;
    text-transform:uppercase;
    color:#0c2736;
}
#button-buscar input{
    width: 420px;
    height: 40px;
    border-radius: 25px;
    border-style: none;
    margin-top: 25px;
    padding: 0 20px;
    text-transform: uppercase;
    /* position: relative; */
}
/* #button-buscar img{
  width: 25px;
  position: absolute;
  margin-top: 25px;
  margin-right: 60px;
  z-index: 1;
} */
#geral {
    display: flex;
    justify-content: center;
}
#geral section{
    flex:2;
}
#geral article{
    flex:1;   
}
.conteudo_title{
    margin-top: 25px;
}
.conteudo_title_text{
    font-size: 30px;
    font-weight:600;
}
.flex {
    display:flex;
    flex-wrap: wrap;
}
article {
    flex:1;
    min-width: 300px;
    margin-top: 20px;
    margin-right: 20px; 
    border: rgb(17, 17, 17, 0.1 ) solid;
    border-radius: 5px;  
}
article a {
    text-decoration:none;
}
article .post_img img{
    margin-top: 10px;
    width: 290px;
    height: auto;
    padding: 0 5px; 
}
.margin {
    margin-bottom: 10px;
}
article .post_title {
    margin-top:25px;
    margin-bottom: 15px;
    font-size:20px;
    color:#000;
    padding: 0 5px;
}
article .post_resume{
    color:#000;
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 30px;
    padding: 0 5px;
    
}
.leia_mais{
    text-decoration:underline;
    color:rgb(26, 98, 206);
}
footer p {
    margin-top:60px;
    height:40px;
    display: flex;
    flex:1;
    justify-content:center; 
    align-items: center;
    background-color: #f4f4f4;
}

/* Media Query */

@media only screen and (max-width: 600px) {
    .container{
        flex-wrap: wrap;
        width: 370px;
    }

    .titulo-banner {
        font-size: 20px;
    }

    #button-buscar a input {
        width: 300px;
    }
}
.img_artigo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.img_artigo img{
    width: 730px;
    height: auto;
}
.conteudo-artigos h1 img{
    display: flex;
    justify-content: center;
    align-items: center;
}
#artigos{
    margin: 0 0 0;
    padding: 0;
    border: 0;
}
#article7-title {
    font-size: 48px;
    margin-bottom: 35px;
    margin-top:15px;
    color:#0c2736;
 
  }
.article-content{
    font-size:20px;
    text-align:unset;
}
.article-content h2{
    color:#0c2736 ;
}
.fonte-artigo{
    text-align:end;
    color: #c2c2c2;
    padding: 1px;
    margin-bottom: 10px;
}
#OMS:hover{
    color: lightcoral;
}
